body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 33, 38);
  color:aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bHsVgM :first-child {
  width: 90% !important;
}

.hkbjFy {
  background-color: rgb(33, 33, 38) !important;
}

.bqsWMK{
  background-color: rgba(33, 33, 38, 0.95) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: bold !important;
}